@use "../../public/index.scss" as i;

.APropos {
    margin-left: i.$main-margin;
    margin-right: i.$main-margin;

    @media (max-width: 767.98px) {
        max-width: 768px;
        width: calc(100% - 40px);
        margin: 0px;
    }
}

.BannerImg {
    width: 100%;
    height: 223px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
      ), url("../assets/AProposBackground.png");
    border-radius: 25px;
    background-size: cover;
    background-position: center center;
    mix-blend-mode: darken;
    margin-bottom: 38px;

    @media (max-width: 767.98px) {
        height: 111px;
        border-radius: 10px;
    }
}

.MainAPropos {
    margin-left: i.$main-margin;
    margin-right: i.$main-margin;
    display: flex;
    flex-direction: column;

    @media (max-width: 767.98px) {
        margin: 0px;
    }
}