.mainError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 139px;
    margin-bottom: 139px;
}

.bigError {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 288px;
    color: #ff6060;
}

.oups {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 36px;
    color: #ff6060;
}

.versAccueil {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    color: black;
    text-decoration: underline;
}

@media (max-width: 767.98px) {
    .mainError {
        max-width: 768px;
        width: calc(100% - 40px);
        gap: 113px;
        margin-bottom: 113px;
        margin-top: 113px;
    }

    .bigError {
        font-size: 96px;
    }

    .oups {
        font-size: 18px;
        max-width: calc(100% - 75px);
        display: flex;
        justify-content: center;
    }

    .versAccueil {
        font-size: 14px;
    }


}