@use "../../public/index.scss" as i;

.Footer {
    display: flex;
    color: white;
    background-color: black;
    font-family: i.$main-font;
    flex-direction: column;
    align-items: center;
    height: 209px;
    width: 100%;
    font-size: 24px;
    font-weight: 500;

    @media (max-width: 767.98px) {
        font-size: 12px;
    }

    img {
        height: 40px;
        width: 122px;
        margin-bottom: 28px;
        margin-top: 66px;
    }
}

#footerText {
    display: flex;
    justify-content: center;
    margin-bottom: 29px;
    margin-top: 0px;
}
